<!DOCTYPE html>
<html lang="en">
  <head>
    <!--CSS-->
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/leaflet.css">
    <!--Angular Scripts-->
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <!--Routes and Services-->
    <script src="./angular/controllers/indexCtrl.js"></script>
    <script src="./angular/controllers/clientCtrl.js"></script>
    <script src="./angular/controllers/candidateCtrl.js"></script>
    <script src="./angular/services/clientService.js"></script>
    <script src="./angular/services/candidateService.js"></script>
    <script src="./angular/routes/angularRoutes.js"></script>
    <script src="./index.js"></script>
    <title>Nearest Candidate</title>
  </head>
  <body>




  </body>
</html>
