<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/drop.css">
    <title>Nearest Candidate</title>
  </head>

<body>
<%=clients%>
   </body>
</html>
